/* Contenedor Principal */
.bg-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background: none;
}

/* Tarjeta */
.card {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 420px;
  padding: 2rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.45);
  border-radius: 1.5rem;
  color: #000;
  text-align: center;
}

/* Títulos Y Textos */
.card h4 {
  color: #aa1015a9;
  font-weight: 700;
}

.card p {
  color: #000000;
}

/*  Inputs */
.form-control {
  border: 1px solid #ddd;
  padding-left: 2.5rem;
  height: 45px;
  font-size: 0.95rem;
}

.form-control:focus {
  border-color: #f91616;
  box-shadow: 0 0 0 0.2rem rgba(249, 22, 22, 0.25);
}

/* Íconos */
.position-relative i {
  color: #b31217b4;
}

.btn-gradient {
  background: linear-gradient(135deg, #9e1e1e, #c4472f);
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 10px 18px;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.btn-gradient:hover {
  background: linear-gradient(135deg, #8a1a1a, #b03e29);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.btn-gradient:active {
  transform: translateY(0);
  box-shadow: none;
}

.text-danger {
  color: #b31217;
  cursor: pointer;
  transition: 0.3s ease;
}

.text-danger:hover {
  color: #8b0f13;
  text-decoration: underline;
}

/* Checkbox */
.form-check-input:checked {
  background-color: #b31217;
  border-color: #b31217;
}
